/* line 2, scss/styles.scss */
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
}

/* line 8, scss/styles.scss */
.movies-list-wrapper {
  width: 300px;
  float: left;
}

/* line 13, scss/styles.scss */
.movie-details-wrapper {
  width: 100%;
  margin-left: 300px;
  padding-left: 15px;
}
/* line 18, scss/styles.scss */
.movie-details-wrapper .nav-tabs {
  float: left;
  clear: after;
}
/* line 23, scss/styles.scss */
.movie-details-wrapper .tab-content {
  clear: before;
}

/* line 28, scss/styles.scss */
.datagrid-stretch-wrapper {
  overflow-y: auto;
}

/* line 32, scss/styles.scss */
.field-label {
  display: block;
  color: #555;
}
/* line 40, scss/styles.scss */
.field-label > span {
  width: 130px;
  display: inline-block;
}

/* line 46, scss/styles.scss */
.actors {
  float: right;
}
/* line 49, scss/styles.scss */
.actors > span {
  display: block;
}

/* line 55, scss/styles.scss */
.col-1,
.col-2 {
  float: left;
}

/* line 60, scss/styles.scss */
.accordion-inner label {
  margin-right: 15px;
}

/* line 65, scss/styles.scss */
.block-link {
  display: block;
}
